* {
  margin: 0;
  padding: 0;
  container: box;
  flex: display;
  justify-content: center;
}

.container {
  width: 100vh;
  height: 100vw;
  border: solid black 2px;
}

.tabBox {
  width: 100wh;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid-black 2px;
}

.tabBox button {
  padding: 5px;
}
